@font-face {
    font-family: 'FreestyleScript';
    src: url('../police/FREESCPT.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.tabs {
    width: 100%;
    min-height: 20vh;
    text-align: center;
    justify-content: space-around;
    display: flex;
}

.tab-active {
    color: #d1435e;
}

.content {
    display: none;
}

.active{
    display: block;
}

.fontTitle {
    font-family: 'FreestyleScript';
    font-size: 300%;
    margin-top: 5%
}

* {
    margin: 0;
}

* {
    font-family: sans-serif;
}

body {
    width: 100vw;
    margin: 0;
}

header {
    width: 100vw;
    min-height: 7vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around
}

.aHeader {
    width: 33%;
}

.aHeader:hover {
    font-weight: bold;
}

#imageLogoCompany {
    width: 40%;
}

a {
    text-decoration: none;
    color: black;
    font-size: 100%;
}

main{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

.projectDescription {
    width: 60%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin-left: 20%;
}

.projectImage {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#columnIllustration {
    margin-left: 20%;
}

#columnMoodboard {
    margin-left: 20%;
}

.illustrationImage {
    width: 70%;
    margin-top: 5%;
    margin-bottom: 5%;
}

footer {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin-top: 2%;
}

.darkMode {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 60px;
    cursor: pointer;
    border: 15px solid #000000;
    border-radius: 30px;
    background-color: #000000;
    width: 10%;
    color: white;
}

#footerMark {
    width: 100%;
    text-align: center;
}

.footerText {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 50%;
    text-align: center;
}

.footerTitle {
    margin-bottom: 2%;
}

.imageLogoSocialMedia {
    width: 1.5%;
}

.dark {
    background-color: rgb(0, 0, 0);
}

.dark h2 {
    color: white;
}

.dark #imageLogoCompany {
    filter: invert(1);
}

.dark .imageLogoSocialMedia {
    filter: invert(1)
}

.dark p {
    color: white;
}

.dark a {
    color: white;
}

.dark .fontTitle {
    color: white;
}

.dark .footerText {
    color: white;
}

.dark #footerMark {
    filter: invert(1);
}

.dark .darkMode {
    border: 15px solid  rgb(225, 202, 197);
    background-color: rgb(225, 202, 197);
    color: rgb(0, 0, 0);
}

.dark .tab-active {
    color: #d1435e;
}

@media screen and (max-width: 1024px) {
    /* Nouvelles règles si la fenêtre fait  1024px de large ou moins */

    #imageLogoCompany {
        width: 70%;
    }
}